@layer components {
  .guests {
    --container-width: 80ch;

    margin-inline: auto;
    width: min(var(--container-width), 100% - 3rem);
    > * + * {
      margin-block-start: 1.5rem;
    }
    .guest-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    }
    .guest {
      align-items: center;
      display: flex;
      flex-flow: column;
      position: relative;
      > * + * {
        margin-block-start: 0.25rem;
      }
      img {
        aspect-ratio: 1;
        border-radius: 100%;
        width: 100%;
      }
      h3 {
        color: var(--body-color);
        font-family: var(--body-font);
        font-size: var(--step--1);
        text-align: center;
        a {
          color: var(--body-color);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &::before {
            content: '';
            position: absolute;
            inset: 0;
          }
        }
      }
      p {
        color: var(--header-color);
        text-align: center;
      }
    }
  }
}
