---
import * as prismicH from "@prismicio/helpers";
import Layout from "../../layouts/Layout.astro";

import { getAllSponsors } from "../../lib/prismicio";
import { SponsorDocument } from "../../../types.generated";

export async function getStaticPaths() {
  const allPages = await getAllSponsors();

  const paths = allPages.map((page) => ({
    params: { uid: page.uid },
    props: page,
  }));
  return paths;
}

const props = Astro.props as SponsorDocument;

const { name, link, logo, description, type } = props.data;

const descriptionHTML = prismicH.asHTML(description);
---

<Layout title={`${name} - Guest Speaker - Holiday Snowtacular`}>
  <main>
    <h1>{name}</h1>
    <img src={logo.url} alt="" />
    <Fragment set:html="descriptionHTML" />
    <p>
      <a href={link.url}>Visit Site</a>
    </p>
  </main>
</Layout>

<style></style>
