html {
  scroll-behavior: smooth;
  block-size: unset;
}
body {
  block-size: unset;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

// html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}