@mixin mouseParallax($multiplier) {
	@media (prefers-reduced-motion: no-preference) and (pointer: fine) {
		transform: translate(
			calc(#{$multiplier * 100px} * var(--mouseX)),
			calc(
				#{$multiplier * 100px} * var(--mouseY) + #{$multiplier * -1000px} *
					var(--scroll)
			)
		);
	}
	@media (prefers-reduced-motion: no-preference) and (pointer: coarse) {
		transform: translateY(calc(#{$multiplier * -1000px} * var(--scroll)));
	}
}

@mixin forced-colors-fill-current-color {
	@media (forced-colors: active) {
		fill: currentColor;
	}
}

@mixin forced-colors-outline {
	@media (forced-colors: active) {
		outline: 2px solid currentColor;
	}
}