
@import "open-props/blue";
@import "open-props/red";

:root {
  // main accent that should be used for headings and such.
  --accent: hsl(37deg 100% 73%);

  // constant accents that don't change between themes. can be used for buttons and ctas.
  --accent-constant-red: hsl(357deg 63% 50%);
  --accent-constant-red-hover: hsl(357 63% 54%);
  --accent-constant-black: hsl(0 0% 16%);
  --accent-constant-black-hover: hsl(0 0% 20%);

  // should always be used as the foreground when using above accent-constants in backgrounds.
  --accent-constant-text: #ffffff;
  
  // main page / body
  --body--text: #ffffff;
  --body--background: linear-gradient(
    180deg,
    hsl(209deg 100% 6%) 0%,
    hsl(290deg 40% 35%) 49%,
    hsl(339deg 37% 57%) 70%,
    hsl(7deg 60% 68%) 85%,
    hsl(29deg 77% 73%) 100%
  );
  --body--link: var(--accent);
  --body--link-underline: var(--accent-constant-red-hover);

  // call-to-action section ("don't miss the fun")
  --cta-section--text-primary: var(--blue-11);
  --cta-section--text-secondary: var(--red-9);
  --cta-section--background: linear-gradient(
    180deg,
    #ffffff 0%,
    var(--blue-1) 100%
  );
}
