
  //Darker theme
  :root {
    // Colors
    --accent-color: #D03037;
    --accent-color-dark: #951e24;

    --white: #ffffff;
    --black: #282828;

    --body-bg-color: hsl(209deg 100% 6%);
    --body-font-color: var(--white);

    --header-font-color: #FFC973;

    --button-font-color: var(--white);
    --button-bg-color: var(--black);
    --button-bg-hover-color: #333333;

    --primary-color: #fed330;

    --feh-fill: var(--white);
    --snowtacular-fill: #DFCBAB;

    --hero-cta-background: #D03037;
  }
