@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Variable.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Variable.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Bold";
  src: url("/fonts/Recoleta-Bold/font.woff2") format("woff2"),
    url("/fonts/Recoleta-Bold/font.woff") format("woff");
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url("/fonts/Recoleta-Medium/font.woff2") format("woff2"),
    url("/fonts/Recoleta-Medium/font.woff") format("woff");
}

:root {
  /*   Body   */
  --body-font: "Poppins", sans-serif;
  /*   Headers   */
  --header-font-bold: "Recoleta-Bold", serif;
  --header-font: "Recoleta-Medium", serif;
}

html {
  font-size: 16px;
}

body {
  color: var(--body-font-color);
  font-family: var(--body-font);
}

p {
  font-size: var(--step-0);
  line-height: 1.6;
  letter-spacing: 0.75px;
  max-width: 55ch;
}

a {
  font-size: var(--step--1);
}

h3 {
  font-family: var(--header-font);
}

h1 {
  font-size: var(--step-5);
  color: var(--header-font-color);
  font-family: var(--header-font-bold);
}
h2 {
  font-size: var(--step-4);
  color: var(--header-font-color);
  font-family: var(--header-font-bold);
}
h3 {
  font-size: var(--step-2);
}

.heading-eyebrow {
  display: block;
  font-size: var(--step--1);
  color: var(--white);
  text-transform: uppercase;
}
