---
import Layout from "../layouts/Layout.astro";
import { getOrganizers } from "../lib/prismicio";
import * as prismicH from "@prismicio/helpers";

const organizers = await getOrganizers();

const bodyHTML = prismicH.asHTML(organizers.data.body);
---

<Layout title="Donations - Holiday Snowtacular - Web Dev Charity Fundraiser">
  <h1>{organizers.data.heading}</h1>
  <Fragment set:html="bodyHTML" />
  {
    organizers.data.member.map((member) => (
      <div>
        <p>{member.name}</p>
        <p>{member.contributions}</p>
        <a href={member.websiteURL}>Website</a>
      </div>
    ))
  }
</Layout>
