---
import DonationGrid from "../components/DonationGrid.svelte";
import Layout from "../layouts/Layout.astro";
// Fetch Donations from API
---

<Layout title="Donations - Holiday Snowtacular - Web Dev Charity Fundraiser">
  <h1>Donations</h1>
  <DonationGrid client:load />
</Layout>
