---
import DonationGrid from '../components/DonationGrid.svelte';
import Layout from '../layouts/Layout.astro';
// Fetch Donations from API
---

<Layout
  title="Donations - Holiday Snowtacular - Web Dev Charity Fundraiser"
  description={`The full list of donations from the 2022 Holiday Snowtacular.`}
>
  <main>
    <h1>Donations</h1>
    <DonationGrid client:load />
  </main>
</Layout>

<style>
  main {
    max-width: 1136px;
    /* display: grid; */
    margin: 0 auto;
  }

  h1 {
    margin-bottom: var(--space-l);
  }
</style>
