---
import Layout from "../layouts/Layout.astro";
// Fetch Donations from API
---

<Layout title="Donations - Holiday Snowtacular - Web Dev Charity Fundraiser">
  <h1>Donations</h1>
  <p>To do: Wire this page up to a charity API and display donations.</p>
</Layout>
