---
import Layout from '../layouts/Layout.astro';
import SliceZone from '../components/SliceZone.astro';
import { getHomepage } from '../lib/prismicio';

const page = await getHomepage();
const title = page.data.title;
---

<Layout title="Holiday Snowtacular - Web Dev Charity Fundraiser">
  <main>
    <div class="container">
      <SliceZone slices={page.data.slices} />
    </div>
  </main>
</Layout>

<style></style>
