---
import * as prismicH from "@prismicio/helpers";

const { heading, body, charityLogo } = Astro.props.primary;

const bodyHTML = prismicH.asHTML(body);
---

<section class="charity">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />
  <img src={charityLogo.url} alt="" />
</section>
