---
import * as prismicH from '@prismicio/helpers';

const props = Astro.props;

const bodyHTML = prismicH.asHTML(props?.primary?.body);

// TODO: Fetch current donation amount and display it.
// TODO: Fetch all donations and display top ~20.
---

<section class="donations">
  {props?.primary?.heading ? <h2>{props.primary.heading}</h2> : null}

  <Fragment set:html="bodyHTML" />
  <!-- Display donation progress -->
  <!-- Display Donations -->
  <a href="/donations" rel="prefetch">View all donations</a>
</section>
