---
import * as prismicH from "@prismicio/helpers";

const { heading, body } = Astro.props.primary;

const bodyHTML = prismicH.asHTML(body);

// TODO: Fetch current donation amount and display it.
// TODO: Fetch all donations and display top ~20.
---

<section class="donations">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />
  <!-- Display donation progress -->
  <!-- Display Donations -->
  <a href="/donations">View all donations</a>
</section>
