---
import * as prismicH from "@prismicio/helpers";

const { heading, body, dateTime, showLink } = Astro.props.primary;

const bodyHTML = prismicH.asHTML(body);
---

<section class="event">
  <h2>{heading}</h2>

  <Fragment set:html="bodyHTML" />
</section>
