---
import * as prismicH from '@prismicio/helpers';
import { EventDetailsSlice } from '../../types.generated';

const slice = Astro.props.slice as EventDetailsSlice;

const bodyHTML = prismicH.asHTML(slice.primary.body);
---

<section aria-labelledby="event-details-heading" class="event">
  <header>
    <span class="heading-eyebrow">{slice.primary.eyebrow}</span>
    <h2 id="event-details-heading">{slice.primary.heading}</h2>
  </header>
  <div>
    <Fragment set:html="bodyHTML" />
  </div>
</section>
