---
import * as prismicH from '@prismicio/helpers'
import { EventDetailsSlice } from '../../types.generated'

const props = Astro.props as EventDetailsSlice

const { heading, body, dateTime, showLink, eyebrow } = props.primary

const bodyHTML = prismicH.asHTML(body)
---

<section aria-labelledby='event-details-heading' class='event'>
	<header>
		<span class='heading-eyebrow'>{eyebrow}</span>
		<h2 id='event-details-heading'>{heading}</h2>
	</header>
	<div>
		<Fragment set:html='bodyHTML' />
	</div>
</section>
