---
import * as prismicH from '@prismicio/helpers';

import { FrequentlyAskedQuestionsSlice } from '../../types.generated';

const slice = Astro.props.slice as FrequentlyAskedQuestionsSlice;

const bodyHTML = prismicH.asHTML(slice.primary.body);

const faqItems = slice.items.map((item) => {
  return {
    heading: item.heading,
    body: prismicH.asHTML(item.body),
  };
});
---

<section aria-labelledby="faq-heading" class="faq">
  <header>
    <span class="heading-eyebrow">{slice.primary.eyebrow}</span>
    <h2 id="faq-heading">{slice.primary.heading}</h2>
  </header>
  <div>
    <Fragment set:html="bodyHTML" />
    <div class="items">
      {
        faqItems.map((item) => (
          <details>
            <summary>{item.heading}</summary>
            <Fragment set:html="item.body" />
          </details>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  .items {
    display: grid;
    gap: var(--space-xs);
  }
  details {
    summary {
      margin-bottom: var(--space-2xs);
    }
  }
</style>
