---
import * as prismicH from "@prismicio/helpers";

const { heading, body } = Astro.props.primary;
const { items } = Astro.props;

const bodyHTML = prismicH.asHTML(body);

const faqItems = items.map((item) => {
  return {
    heading: item.heading,
    body: prismicH.asHTML(item.body),
  };
});
---

<section class="faq">
  <div>
    <h2>{heading}</h2>

    <Fragment set:html="bodyHTML" />
  </div>
  <div>
    {
      faqItems.map((item) => (
        <details>
          <summary>{item.heading}</summary>
          <Fragment set:html="item.body" />
        </details>
      ))
    }
  </div>
</section>
