---
import * as prismicH from "@prismicio/helpers";

import { FrequentlyAskedQuestionsSlice } from "../../types.generated";

const props = Astro.props as FrequentlyAskedQuestionsSlice;
const { heading, body, eyebrow } = props.primary;
const { items } = props;

const bodyHTML = prismicH.asHTML(body);

const faqItems = items.map((item) => {
  return {
    heading: item.heading,
    body: prismicH.asHTML(item.body),
  };
});
---

<section aria-labelledby="faq-heading" class="faq">
  <div>
    <span class="heading-eyebrow">{eyebrow}</span>
    <h2 id="faq-heading">{heading}</h2>

    <Fragment set:html="bodyHTML" />
  </div>
  <div>
    {
      faqItems.map((item) => (
        <details>
          <summary>{item.heading}</summary>
          <Fragment set:html="item.body" />
        </details>
      ))
    }
  </div>
</section>
