<footer>
  <svg viewBox="0 0 2045 153" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M0 14.2612L56.705 8.51341C115.128 2.76563 228.538 -8.72993 343.667 11.3873C458.795 31.5045 572.205 83.2346 687.333 106.226C802.462 129.217 915.872 123.469 1031 100.478C1146.13 77.4868 1259.54 37.2523 1374.67 25.7568C1489.8 14.2612 1603.21 31.5045 1718.33 43.0001C1833.46 54.4957 1946.87 60.2434 2005.3 63.1173L2062 65.9912V152.208H2005.3C1946.87 152.208 1833.46 152.208 1718.33 152.208C1603.21 152.208 1489.8 152.208 1374.67 152.208C1259.54 152.208 1146.13 152.208 1031 152.208C915.872 152.208 802.462 152.208 687.333 152.208C572.205 152.208 458.795 152.208 343.667 152.208C228.538 152.208 115.128 152.208 56.705 152.208H0V14.2612Z"
      fill="snow"></path>
  </svg>
  <div class="footer-content">
    <p>This is the footer</p>
  </div>
</footer>

<style lang="scss">
  @layer component {
    footer {
      margin-block-start: var(--space-2xl);
      svg {
        height: auto;
        width: 100vw;
        transform:translateY(1px);
        filter: drop-shadow(-1px 0 10px #FFF);
      }
      .footer-content {
        background: snow;
      }
    }
  }
</style>
