<footer>
	<svg viewBox='0 0 2045 153' fill='none'>
		<path
			fill='snow'
			d='m0 14.3 56.7-5.8c58.4-5.7 171.8-17.2 287 2.9 115.1 20.1 228.5 71.8 343.6 94.8 115.2 23 228.6 17.3 343.7-5.7s228.5-63.2 343.7-74.7c115.1-11.5 228.5 5.7 343.6 17.2a5819.6 5819.6 0 0 0 287 20.1L2062 66v86.2H0v-138Z'
		></path>
	</svg>
	<div class='footer-content'>
		<p>This is the footer</p>
	</div>
</footer>

<style lang='scss'>
	footer {
		margin-block-start: var(--space-2xl);
		svg {
			height: auto;
			width: 100vw;
			transform: translateY(1px);
			filter: drop-shadow(-1px 0 10px #fff);
		}
		.footer-content {
			background: snow;
		}
	}
</style>
