---
import * as prismicH from '@prismicio/helpers';
import { GuestDocument } from '../../types.generated';
// We might want to take certain props for when it's
// on the homepage or on the Guest's individual page.

const guest = Astro.props.guest as GuestDocument;

const avatarURL = prismicH.asImageSrc(guest.data.avatar, {
  w: 300,
  h: 300,
  fit: 'crop',
  q: 85,
  fm: 'webp',
});
---

<div class="guest-avatar">
  <img
    src={avatarURL}
    alt={`Headshot of ${guest.data.name}`}
    width={300}
    height={300}
  />
</div>

<style lang="scss">
  .guest-avatar {
    display: grid;
    place-content: center;
    img {
      border: 10px solid rgba(0, 0, 0, 0.25);
      border-radius: 100%;
    }
  }
</style>
