---
import * as prismicH from "@prismicio/helpers";
// We might want to take certain props for when it's
// on the homepage or on the Guest's individual page.

const props = Astro.props;

const avatarURL = prismicH.asImageSrc(props.avatar, {
  w: 300,
  h: 300,
  fit: "crop",
  crop: "faces",
});
console.log("🚀 ~ file: GuestAvatar.astro ~ line 14 ~ avatarURL", avatarURL);
---

<div class="guest-avatar">
  <img
    src={avatarURL}
    alt={`Headshot of ${props.guestName}`}
    width={300}
    height={300}
  />
</div>
