---
import * as prismicH from "@prismicio/helpers";

import { LastYearRecapSlice } from "../../types.generated";

const props = Astro.props as LastYearRecapSlice;

const { heading, body } = props.primary;

const bodyHTML = prismicH.asHTML(body);
---

<section aria-labelledby="recap-heading" class="recap">
  <h2 id="recap-heading">{heading}</h2>

  <Fragment set:html="bodyHTML" />
</section>

<style class="scss">

    .recap {
      > * + * {
        margin-block-start: 1rem;
      }
    }

</style>
