---
import Logo from "./Logo.astro";
import RegistrationButton from "./RegistrationButton.astro";
---

<header>
  <a href="/">
    <Logo />
  </a>

  <RegistrationButton />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
</style>
