---
import Logo from './Logo.astro';
import RegistrationButton from './RegistrationButton.astro';
---

<header role="banner">
  <nav>
    <a href="#">Speakers</a>
    <a href="#">Sponsors</a>
  </nav>
  <Logo />
  <div class="actions">
    <RegistrationButton>Register</RegistrationButton>
  </div>
</header>
