---
import Logo from "./Logo.astro";
import RegistrationButton from "./RegistrationButton.astro";
---

<header role="banner">
  <nav>
    <a href="/#sponsors">Sponsors</a>
    <a href="/#guests">Guests</a>
    <a href="/#contributors">Team</a>
  </nav>
  <Logo />
  <div class="actions">
    <RegistrationButton>Register</RegistrationButton>
  </div>
</header>
