---
import RegistrationButton from "./RegistrationButton.astro";
---

<header>
  <span>Logo</span>
  <RegistrationButton />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
</style>
