<a href="https://lu.ma/event/evt-pYYlW3M6j0e8eAB" class="button" data-luma-action="checkout" data-luma-event-id="evt-pYYlW3M6j0e8eAB">
  <slot />
</a>

<style>
  @layer sections {
    .registration {
      > * + * {
        margin-block-start: 1rem;
      }
    }
  }
</style>

<script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
