---
export type Props = {
  variant?: "black" | "red";
};
const { variant = "black" } = Astro.props;
---

<a
  href="https://lu.ma/event/evt-pYYlW3M6j0e8eAB"
  class="button"
  data-variant={variant}
  data-luma-action="checkout"
  data-luma-event-id="evt-pYYlW3M6j0e8eAB"
>
  <slot />
</a>

<style lang="scss">
  a[data-variant="red"] {
    --button-bg-color: var(--accent-constant-red);
    &:where(:hover) {
      --button-bg-color: var(--accent-constant-red-hover);
    }
  }
</style>
