---
import RegistrationButton from "./RegistrationButton.astro";
import { RegisterCtaSlice } from "../../types.generated";

const props = Astro.props as RegisterCtaSlice;

const { bottomText, buttontext, topText } = props.primary;
---

<section class="registration">
  <h2>
    <span>{topText}</span>
    <span>{bottomText}</span>
  </h2>

  <RegistrationButton>{buttontext}</RegistrationButton>
</section>

<style lang="scss">
  section {
    background: linear-gradient(
      180deg,
      var(--cta-section--gradient-stop-1) 0%,
      var(--cta-section--gradient-stop-2) 100%
    );
    border-radius: var(--space-xs);
    padding: var(--space-l) var(--space-m);
    display: grid;
    place-items: center;
    gap: var(--space-m);
  }

  h2 {
    font-size: var(--step-3);
    line-height: 1.2;
    text-align: center;
  }

  h2 > span {
    display: block;
    color: var(--cta-section--text-primary);

    &:first-child {
      color: var(--cta-section--text-secondary);
    }
  }
</style>
