---
export interface Props {
	title: string
}

const { title } = Astro.props
import '../styles/main.scss'
import Snow from '../components/Snow.astro'
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<script id='luma-checkout' src='https://embed.lu.ma/checkout-button.js'
		></script>
	</head>
	<body>
		<!-- <Snow /> -->
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global lang='scss'>
	body {
		min-height: 100vh;
	}

	/*


  body {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns:
      1fr
      min(1024px, 100%)
      1fr;

    > * {
      grid-column: 2;
    }
    > astro-island > * {
      grid-column: 2;
    }
  }



  :where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
  }*/
</style>
