---
export interface Props {
	title: string
}

const { title } = Astro.props
import '../styles/main.scss'
import Snow from '../components/Snow.astro'
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<script id='luma-checkout' src='https://embed.lu.ma/checkout-button.js'
		></script>
	</head>
	<body>
		<Snow className='back' />
		<Snow className='middle' />
		<Snow className='front' />
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global lang='scss'>
	@import 'src/styles/mixins.scss';

	:root {
		--box-color: hsla(223, 81%, 9%, 75%);
		--mouseX: 0.5;
		--mouseY: 0.5;
		--scroll: 0;
	}

	body {
		min-height: 100vh;
	}

	section {
		header {
			margin-bottom: var(--space-s-m);
		}

		p {
			margin-bottom: var(--space-xs-s);
		}
	}

	.back {
		background-size: 4.8rem 4.8rem;
		@include snow(0.2);
		z-index: -1;
	}
	.middle {
		background-size: 12rem 12rem;
		z-index: 2;
		@include snow(0.5);
	}
	.front {
		background-size: 24rem 24rem;
		z-index: 5;
		filter: blur(3px);
		@include snow(1);
	}
</style>
