---
export interface Props {
  description: string;
  title: string;
}
import OBSSnow from '../components/obs/OBSSnow.astro';
import '../styles/obs/main.scss';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920,height=1080 initial-scale=1" />
  </head>
  <body class="obs-slide">
    <OBSSnow />
    <slot />
    <style lang="scss">
      body {
        position: relative;
      }
    </style>
  </body>
</html>
